@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-examine {
  margin: 16px;

  header{
  	margin-bottom: 10px;
  	position: relative;

  	.uyun-input-search{
  		width: 200px;
  	}
    .uyun-select-selection{
      width: 226px;
      margin-left: 10px;
    }
  	.radio{
      .uyun-select-selection{
        width: 150px;
        margin-left: 10px;
      }
    }
  }
  .uy-badge-status-text {
    color: @badge-color;
  }
}
