@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-weeklys {
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  .uyun-card-body{
  	padding: 0px;
  }
  .uyun-input-search{
  	width: 250px;
	  .uyun-input{
	  	width: 100%;
	  }
  }

  header{
		position: relative;
		margin-top: 20px;

		h2{
			font-size: 16px;
			font-weight: 650;
		}
		.uyun-calendar-picker{
			width: 126px;
			margin-left: 10px;
			.uyun-input{
		  	width: 100%;
		  }
		}
	}
}
