@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;
@btn-color: @blue-6, @white;

.basic-member {
  margin: 16px;
  position: relative;

  .uy-badge-status-text {
    color: @badge-color;
  }
  header{
    text-align: right;
  }
  .bodyer{
    .uyun-row .uyun-row{
      padding-bottom: 10px;
    }
    .blue{
      color: @btn-color;
    }
    .green{
      color: @lime-6;
    }
    .orange{
      color: @gold-6;
    }
  }
  .uyun-table-footer{
    background: none;
    color: @grey-7;
  }
}

.memberModal{
  .transferItem{
    display: inline-block;
    span{
      display: inline-block;
      width: 100px;
    }
  }
  .uyun-input-search{
    width: 226px;
    margin-bottom: 10px;
  }
  .uyun-transfer-list{
    width: 252px;
  }
  .auto{
    padding-top: 50px;
    text-align: center;
    .uyun-btn{
      width: 90%;
    }
  }
}
