@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-editweeklyinfo {
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  .uyun-card-body{
  	padding: 0px;
  }
  .uyun-input-search{
  	width: 250px;
	  .uyun-input{
	  	width: 100%;
	  }
  }
  .uyun-select{
  	width: 150px;
  }
  .close{
  	.uyun-form-item-label{
  		min-width: 60px;
  	}
  }
	.blue{
		font-size: 14px;
		font-weight: 650;
		color: #1890FF;
	}
	h3{
		position: relative;
		line-height: 30px;

		.absR{
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0, -50%);
		}
	}
	h3.marB{
		margin-bottom: 10px;
	}
	.marT{
		margin-top: 10px;
	}

  header{
		position: relative;
		margin-top: 20px;

		h2{
			font-size: 16px;
			font-weight: 650;
		}
		.uyun-form-item-label{
	  		width: 80px;
	  	}
		.radio{
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}
