@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-postProjects{
	.uyun-form-item-label{
		vertical-align: top;
	}
	.uyun-form-item-control-wrapper{
		vertical-align: top;
	}
	.uyun-form-item-control-wrapper{
		display: inline-block;
	}
	.uyun-input{
		width: 212px;
	}
	.uyun-calendar-picker-input.uyun-input{
		width: 170px;
	}
	.uyun-select-selection{
		width: 198px;
	}
	.block{
		display: block;
	}
	textarea.uyun-input{
		max-width: 400px;
		width: 400px;
		vertical-align: top;
	}
	.uyun-form label{
		font-size: 14px;
	}
	.uyun-row{
		padding: 10px 0px;
	}
	.weight{
		max-width: 100px;
		width: 100px;
	}
	.uyun-btn-group{
		width: 250px;
		font-size: 14px;
		text-align: right;
	}
	h3{
		font-weight: 650;
		font-size: 16px;
		overflow: hidden;
		margin-bottom: 10px;

		button{
			float: right;
		}
	}
	form{
		border-bottom: solid 1px rgba(232, 232, 232, 1);
	}
	.border{
		border-top: solid 1px rgba(232, 232, 232, 1);
		padding: 5px 0px;
		margin-bottom: 0px;
	}
}
