.uyun-modal-body {
    .ContractReview {
      margin-top: -20px;
      .uyun-form-item{
          height: 40px;
      }
      .checkRD{
        position: relative;
        .uyun-form-item-label{
          position: absolute;
          width: 69px;
        }
        .uyun-row{
          margin-left: 69px;
        }
      }
      .uyun-row{
        .uyun-form-item-label {
          label {
          color: #333333;
        }}
      }
      .uyun-form-item-control-wrapper{
        display: inline-block;
      }
      .uyun-row{
        margin: 3px 0;
      }
      .uyun-col-4 {
        text-align: right;
      }
      .communication-log-box {
        font-size: 12px !important;
        margin-top: 10px;
      
        .communication-log-title {
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          width: 85% !important;
          .uyun-btn {
            float: right;
          }
        }
      
        .add {
          height: 30px;
          border: 1px dashed #E8E8E8;
          color: #E8E8E8;
          text-align: center;
          line-height: 30px;
        }
        .uyun-col-4 {
          text-align: left;
        }
        .communication-log-content {
          height: 54px;
          width: 85% !important;
          background: #FAFAFA;
          line-height: 54px;
          padding: 0 20px;
          font-weight: bold;
          color: #262626;
          // border: 1px solid #E8E8E8;
          margin: 10px 0;
        }
      
        .communication-log {
          height: 40px;
          width: 85% !important;
          line-height: 40px;
          padding: 0 20px;
          color: #262626;
          border-bottom: 1px solid #e9e9e9;
      
          .delete-communication-log {
            color: #3BA1FF;
            cursor: pointer;
          }
        }
      }
    }
  }