@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-Apply {
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  .uyun-card-body{
  	padding: 0px;
  }
  .uyun-input-search{
  	width: 250px;
	  .uyun-input{
	  	width: 100%;
	  }
  }

  header{
		position: relative;
		margin-top: 20px;

		h2{
			font-size: 16px;
			font-weight: 650;
		}
		.uyun-select-selection{
	      width: 226px;
	      margin-left: 10px;
	    }
		.radio{
			.uyun-select-selection{
				width: 150px;
				margin-left: 10px;
			}
		}
		.type{
			font-weight: 400;
			font-size: 14px;
			padding-left: 30px;
		}
		.uyun-select-selection{
			width: 226px;
		}
		input,select{
			font-size: 13px;
		}
	}
}
