@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-acceptance {
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  header{
  	position: relative;
  	height: 64px;

  	.title{
  		font-size: 16px;
  		font-weight: 400;
  		color: @blue-6;
  		padding-bottom: 20px;
  		margin-left: 20px;
  		display: inline-block;
  		border-bottom: 2px solid @blue-6;
  	}
  	.absR{
  		position: absolute;
  		top: 0px;
  		right: 10px;
  	}
  }
}
