@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;
@Outline:#d8dfe9;
@Title:16px;
@Title1:14px;
@Blue:#347CED;

.basic-projectInfo {
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  .anchorBottom{
  	position: fixed;
  	bottom: 50px;
  }
  .buttonBox{
  	padding: 20px 0px 10px;

  	button{
  		margin-right: 10px;
  	}
  }

  .project-content-page {
  width: 100%;
  padding: 0 24px;
  // padding: 24px 40px;
}
.project-name {
  font-size: @Title;
  font-weight: bold;
}
.top-project-item {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.left-project-info {
  // width: 50%;
  .project-info-detail {
    span {
      margin-right: 20px;
    }
  }

}
.right-project-btn {
  width: 50%;
  display: flex;
  // justify-content: space-around;
}
.project-basic-info {
  margin-top: 8px;
}
.project-info-box {
  margin-left: 8px;
}
.customer-info-box,
.clues-details-box,
.communicate-log-box,
.approval-history-box {
  margin: 8px;
}
.project-info-title,
.clues-info-title,
.customer-info-title,
.communicate-log-title,
.approval-history-title {
  font-size: @Title;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}
.link-man-header,
.communicate-log-header {
  height: 50px;
  background: @gray-background;
  line-height: 50px;
  padding-left: 16px;
  font-weight: @font-weight-2;
  border: 1px solid @Outline;
  width: 75%;
  margin: 8px 0;
}
.link-man-details,
.communicate-log-details {
  height: 40px;
  line-height: 40px;
  width: 75%;
  padding-left: 16px;
  border-bottom: 1px solid @Outline;
}
.stage-task-title {
  font-size: @Title;
  font-weight: bold;
}
.tab-two-content {
  // width: 75%;
}
.pre-sales-content {
  margin: 10px 24px;
}
.document-com,
.task-details-title,
.bidding-period-title,
.price-sheet-title,
.document-accessory-title,
.pre-approval-history-title {
  font-size: @Title1;
  font-weight: bold;
}
.task-content-header,
.task-details-header,
.price-sheet-header,
.quotation-price-header,
.document-accessory-header,
.pre-approval-history-header {
  height: 50px;
  background: @gray-background;
  line-height: 45px;
  font-weight: @font-weight-2;
  border: 1px solid @Outline;
  padding: 0 8px;
}
.task-content-body,
.task-details-body,
.price-sheet-body,
.quotation-price-body,
.document-accessory-body,
.pre-approval-history-body {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid @Outline;
  padding-left: 8px;
}
.bidding-period-box,
.price-sheet-box,
.document-accessory-box,
.pre-approval-history {
  margin: 10px 24px;
}
.document-accessory-search {
  display: flex;
  width:70%;
  justify-content: space-between;
  margin: 8px 0;
}
.approval-history-details {
  margin: 8px 0;
}
.history_box{
  width: 75%;
  background-color: #fafafa;
  height: 30px;
  div{
    vertical-align:middle;
    line-height: 30px;
  }
  div:first-child{
    font-size: 16px;
    span{
      padding-left: 10px;
      font-size: 12px;
    }
  }
  div:last-child{
    color: #3BA1FF;
    cursor:pointer;
  }
  vertical-align:middle;
}
.commLog {
  margin-top: -20px;
  .commLog-log {
    margin:-20px 0 0;
    .commLog-docfile{
      font-size:@Title;
      font-weight:600;
    }
    .uyun-row{
      margin: 10px 0!important;
      .uyun-col-4 {
        width:72px;
        text-align:left;
      }
    }
  }
  .commLog-log-title {
    height: 50px;
    width: 85% !important;
    background: #FAFAFA;
    line-height: 50px;
    padding: 0 20px;
    font-weight: bold;
    color: #262626;
    border: 1px solid #E8E8E8;
    margin: 10px 0;
  }
  .commLog-log-content {
    height: 48px;
    width: 80% !important;
    line-height: 48px;
    padding: 0 20px;
    color: #262626;
    border-bottom: 1px solid #e9e9e9;
  }
}
.history_box_content{
  margin-left: 10px;
  div{
    margin-bottom: 5px;
  }
}
.button-box {
  display: flex;
  padding-bottom: 10px;
  .first-button{
    margin-left:0
  }
  .modalTips{
    padding-left:20px
  }
}

}
.uyun-modal-title{
  font-weight: 650;
  font-size: 16px;
}
.uyun-modal-header,.uyun-modal-footer{
  border: none;
}
