@import "~@uyun/everest-styles/index";
@Outline:#d8dfe9;
@Title:16px;
@Title1:14px;
@Blue:#347CED;
.file-table-header{
    background: #FAFAFA;
    height:50px;
    line-height:50px;
} 
.file-table-content{
    height:48px;
    line-height:48px;
    border-bottom:1px solid #d8dfe9;
}
.approval-history-header {
    height: 50px;
    line-height: 49px;
    padding-left: 16px;
    font-weight: @font-weight-2;
    border: 1px solid @Outline;
    background: #FAFAFA;
    margin-bottom: 0;
}
.approval-history-content {
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    border: 1px solid @Outline;
    border-top: none;
}