@import "~@uyun/everest-styles/index";

@Outline:#d8dfe9;
@BlueWords:#3883f8;
@Title1:14px;
@fontsize12:12px;
.approval-page {
  width:80%;
  margin: 0px 24px;
  .apponit-task {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .item-box {
        display: flex;
        align-items:center;
        div:first-child{
            margin-right:15px;
        }
    }
  }
  .approval-content {
    padding:16px;
    // border: 1px solid #f40;
  }
  .approval-info {
    // border: 1px solid blue;
  }
}


