@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-workhour {
  border: solid 1px @grey-8;
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  header{
  	position: relative;
    border-bottom: solid 1px @grey-8;

    .default{
      color: #B8BEC8;
    }
  	.title{
  		font-size: 16px;
  		font-weight: 400;
  		color: @blue-6;
      padding-top: 20px;
  		padding-bottom: 20px;
  		margin-left: 20px;
  		display: inline-block;
  		border-bottom: 2px solid @blue-6;
  	}
  	.absR{
  		position: absolute;
  		top: 20px;
  		right: 10px;
  	}
  }
  .uyun-list-item-content-single{
    justify-content: space-between;
  }
  .totalIdx{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
  }
  .totalDep{
    padding-left: 10px;
    font-size: 14px;
  }
  .totalNum{
    padding-right: 10px;
    font-size: 14px;
  }
}
