@import "~@uyun/everest-styles/index";

@badge-color: @gray-body, @white, @white;

.basic-projects {
  margin: 16px;

  .uy-badge-status-text {
    color: @badge-color;
  }
  .uyun-card-body{
  	padding: 0px;
  }
  .uyun-input-search{
  	width: 250px;
	  .uyun-input{
	  	width: 100%;
	  }
  }

  header{
		position: relative;
		margin-top: 20px;

		h2{
			font-size: 16px;
			font-weight: 650;
		}
		.radio{
			width: 150px;
			margin-left: 10px;
		}
		.advanced-search-form-toggle {
		  color: #3883F8;
		  background: #F4F7FD;
		  display: inline-block;
		  padding: 8px 12px;
		  cursor: pointer;
		}
		.advanced-search-form{
			display: none;
		}
		.advanced-search-form.advanced-search-form-collapse{
			display: block;
		}
		.advanced-search-form-fields {
		  padding: 16px;
		  background: #F4F7FD;
		}
		.advanced-search-form-toggle {
		  margin-left: 10px;
		}
		.blue .advanced-search-form-toggle {
		  color: #1F99E5;
		  background: #133760;
		  margin-left: 10px;
		}

		.blue .advanced-search-form-fields {
		  background: #133760;
		}
	}
}
