@import "~@uyun/everest-styles/index";

@Outline:#d8dfe9;
@BlueWords:#3883f8;
@Title1:14px;
@fontsize12:12px;
.application-page {
  width:80%;
  margin: 0 24px;
}
.application-page-title,
.application-flow-title,
.customer-basicinfo-title,
.clues-info-title,
.clues-document-title {
  font-size: @Title1;
  font-weight: bold;
  line-height: 21px;
}
.application-content{
  margin-top: 10px;
  font-size: @fontsize12;
  text-align: left;
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-style: normal;
  color: #333333;
  line-height: normal;
}
.application-main-info{
  margin-left: 20px;
  font-size: @fontsize12;
  div {
    margin-top: 5px;
  }
}
.application-page-title{
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: @Title1;
  text-align: left;
}
.uyun-steps-dot .uyun-steps-item-content{
  width: 140px;
  .uyun-steps-item-title{
    font-size: @fontsize12;
  }
}
.customer-basicinfo-box{
  margin-top: 25px;
  .customer-basicinfo-text{
    margin:5px 0 0 10px;
    font-size: @fontsize12;
    div:first-child{
      span{
        margin-right: 40px;
      }
    }
  }
}
.application-top-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.application-right-status {
  text-align: right;
  display: flex;
  margin-top: 25px;
  div {
    margin-left: 15px;
    span{
      font-family: 'PingFangSC-Regular', 'PingFang SC';
      font-weight: 400;
      font-style: normal;
      font-size: @Title1;
    }
  }
}
.approval-type {
  margin-right: 16px;
}
.linkman-info-header,
.clues-document-header {
  height: 50px;
  background: @gray-background;
  line-height: 50px;
  padding-left: 16px;
  // font-weight: @font-weight-2;
  font-weight: bold;
  border: 1px solid @Outline;
  width: 85%;
  margin: 8px 0;
}
.linkman-info-body,
.clues-document-body {
  height: 40px;
  line-height: 40px;
  width: 85%;
  padding-left: 16px;
  border-bottom: 1px solid @Outline;
}
.footer-audit {
  width:80%;
  height:50px;
  position: fixed;
  bottom:10px;
  box-shadow: 10px 10px 15px #888888;
  // opacity: 0.3;
  background-color: rgb(144,144,144,0.3) ;
  border:1px solid #ccc;
  .audit-box{
    color:#fff;
    padding-top:5px;
    float:right;
    .uyun-btn{
      padding:5px 15px;
      margin-right:5px;
    }
  }
}
